
@font-face {
    font-family: bold;
    src: url(./fonts/MersadLight.ttf)
}
@font-face {
    font-family: regular;
    src: url(./fonts/MersadRegular.ttf);
}
@font-face {
    font-family: light;
    src: url(./fonts/MersadLight.ttf);
}
body {
    background-image: url(./assets/fdndblurr.svg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: bold;
    text-transform: uppercase;
    font-size: 7em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0.75em;
    margin-bottom: 1em;
}
/* cards */

h3{
    font-family: regular;
    text-align: left;
    justify-content: center;
    width: 10em;
    height: 1em;
    margin: 0.5em;
}
h2{
    font-family: regular;
    text-align: left;
    justify-content: center;
    width: 10em;
    height: 1em;
    margin: 0.5em; 
}

h2, h3, p{
    color: whitesmoke;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    justify-content: right;
    font-size: 0.7em;
    width: 20em;
    margin: 0.5em;
}
.card-text{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 15em;
    height: 15em;
    margin-left: auto;
    }

.img-card{
    width: 10em;
    height: 10em;
    object-fit: cover;
    overflow: hidden;
    justify-self: flex-start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5em;
    border: 1px solof #000;

}
article {
    border:1px solid chartreuse;
  /* From https://css.glass */
    background: rgba(5, 5, 66, 0.17);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(5, 5, 66, 0.3);
    display: flex;
    margin: 2em;
    width: 26em;
    height: 16em;

}
article:nth-of-type(4n +1){
    background-color: #66e5bf6d;
    border: 1px solid #66e5bf;
}
article:nth-of-type(4n + 2){
    background-color: #0505426d;
    border: 1px solid #050542;
}
article:nth-of-type(4n +3){
    background-color: #a675f56d;
    border: 1px solid #a675f5;

}

.card-grid{
    
    display: grid;
    grid-template-columns: repeat(3, 28em);
    grid-template-rows: repeat(3, 20em);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    justify-content: center;
    
}

nav{
    font-family: bold;
    text-transform: uppercase;
    font-size: 3em;
    text-align: right;
    display: flex;
    justify-content: center;
    margin: 0.75em;
    margin-bottom: 1em;
}

nav > a{
    color: black;
    list-style-type: none;
    text-decoration: none;
    margin: 1em;
}



    .card-img{

    flex-direction: row;
    justify-content: left;
    width: 4em;

    }